@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@plugin "daisyui";




.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  color: #888;
  float: left;
  height: 0;
  pointer-events: none;
}
.ProseMirror:focus {
  outline: none;
  box-shadow: none;
}

body{
 
  
  color: white;
  background-color:rgb(15, 15, 22);
}

input,
textarea,
button,
select {
  outline: none;
  box-shadow: none;
  
  /* background: none; */
}