@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';



.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  color: #888;
  float: left;
  height: 0;
  pointer-events: none;
}
.ProseMirror:focus {
  outline: none;
  box-shadow: none;
}

body{
  display: flex;
  justify-content: center;
  margin : 15px;
}

input,
textarea,
button,
select {
  outline: none;
  box-shadow: none;
  border: none;
  background: none;
}